body{
    background-image: 
        linear-gradient(
            to top right, #ffffff, #adadad
        );
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}
